<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Goldfish64</string>
	<key>CodecID</key>
	<integer>30352</integer>
	<key>CodecName</key>
	<string>STAC9200</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Goldfish64 - STAC9200 for Dell Precision 390</string>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>layout11.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Goldfish64 - STAC9200 for Dell Precision 390</string>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>Platforms11.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>xgYASIu/aAE=</data>
			<key>MinKernel</key>
			<integer>18</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>xgYBSIu/aAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x8384767f to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>f3aEgw==</data>
			<key>MaxKernel</key>
			<integer>12</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x1002aa00 to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>AKoCEA==</data>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x10134205 to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>BUITEA==</data>
			<key>MaxKernel</key>
			<integer>14</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x10de0006 to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>BgDeEA==</data>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x10ec0261 to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>YQLsEA==</data>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x10ec0884 to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hAjsEA==</data>
			<key>MaxKernel</key>
			<integer>14</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x11d41984 to 0x83847690</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hBnUEQ==</data>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>kHaEgw==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x8384767f to 0xFFFFFFFF</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>f3aEgw==</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>/////w==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x80862804 to 0xFFFFFFFF</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>BCiGgA==</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>/////w==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x1aec87ff to 0xFFFFFFFF</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>/4fsGg==</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>/////w==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x15ad1974 to 0xFFFFFFFF</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>dBmtFQ==</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>/////w==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x8384767f to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>f3aEgw==</data>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x10138408 to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>CIQTEA==</data>
			<key>MaxKernel</key>
			<integer>14</integer>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x11d41983 to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>MinKernel</key>
			<integer>15</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>0x10de003f to 0x80000000</string>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>PwDeEA==</data>
			<key>MinKernel</key>
			<integer>16</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAgA==</data>
		</dict>
	</array>
	<key>Revisions</key>
	<array>
		<integer>1057281</integer>
	</array>
	<key>Vendor</key>
	<string>SigmaTel</string>
</dict>
</plist>
